@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model IEnumerable<BusinessLogic.Dto.ExtendedPostDto>

<div>
    <form asp-action="Index" class="postInputContainer">
        <fieldset>
            <legend>@Localizer["AddPost"]</legend>
            <div class="form-group">
                <textarea class="form-control" name="content" rows="3" value="" placeholder="@Localizer["AddPostPlaceholder"]"></textarea>
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value=@Localizer["AddPostButton"] class="submit btn btn-primary" />
            </div>
        </fieldset>
    </form>
</div>
<hr />
<div>
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("../Shared/_Post.cshtml", item)
    }
</div>
