@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <form method="post">
        <fieldset>
            <legend>Add Post</legend>
                <div class="form-group">
                    <input type="text" class="form-control" name="content" value="" />
                </div>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit btn btn-primary" />
                </div>
        </fieldset>
    </form>
</div>

<div>
   <p>//future feed</p>
</div>
