@{
    ViewData["Title"] = "Profile";
}

@model Domain.Models.User

<div class="text-center">
    <img src="~/images/istockphoto-1300845620-612x612.jpg" />
    <h1>@Model.Name</h1>
    <p>@Model.UserName</p>
    <hr />
</div>

<div>
    <div>
        @foreach (var item in Model.Posts)
        {
            @await Html.PartialAsync("../Shared/_Post.cshtml", item)
        }
    </div>
</div>




