@{
    ViewData["Title"] = "Profile";
}

@model Domain.Models.User

<div class="text-center">
    <h1>@Model.Name</h1>
    <p>@Model.Login</p>
</div>

<div>
    <div>
        @foreach (var item in Model.Posts)
        {
            @await Html.PartialAsync("../Shared/_Post.cshtml", item)
        }
    </div>
</div>




