.postContainer {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.postStats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.postContent, .postContent:active, .postContent:hover {
    text-decoration: none;
    color: black;
}

.textLink, .textLink:active, .textLink:hover {
    text-decoration: none;
    color: black;
}

.btnTextLight{
    color: white;
}

.btnTextDark{
    color: black;
}

.avatar {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.likeIcon{
    height:40px;
    width: 40px;
    border-radius: 15%
}

.bodyContainer{
    margin-top: 100px;
}

.editFormContainer {
    max-width: 450px;
    align-content: center;
}

.postInputContainer{
    max-width: 450px;
}

.searchFormContainer {
    max-width: 450px;
}

.searchForm{
    margin-top: 20px;
    margin-bottom: 20px;
}
